.bg-f1bb5d-to-fda77f {
  background-image: linear-gradient(0deg, #f1bb7f 0%, #fda77f 100%);
}

.bg-edc369-to-ffdf7f {
  background-image: linear-gradient(0deg, #edc369 0%, #ffa737 100%, #ffdf7f 100%);
}

.toggle-menu {
  height: 22px;
  width: 2rem;

  span {
    transition: all 0.6s ease;
    height: 2px;
  }

  &.active {
    span:nth-child(3) {
      transform: rotate(-40deg) translate(7px, -7px);
    }

    span:nth-child(1) {
      transform: rotate(40deg) translate(7px, 7px);
    }

    span:nth-child(2) {
      transform: translateX(99px);
      opacity: 0;
    }
  }
}

.menu-slide {
  width: 100%;
  position: fixed;
  height: calc(100% - 65px);
  top: 65px;
  left: 100%;
  background: #500f1d;
  padding: 3%;
  overflow-y: auto;
  z-index: 1000;
  transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -ms-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
}

.menu-slide.active {
  left: 0;
}

.wrapper {
  background: url('../images/main_bg.png') center center repeat-x;
  background-size: cover;
}