<footer>
    <ul class="flex flex-col gap-1 fixed right-0 top-1/4">
        <li><a href="./" class="transition-all hover:opacity-75 block w-10 sm:w-12 md:w-16 lg:w-auto"><img
                    src="./assets/images/icon_telegram.png" alt=""></a></li>
        <li><a href="./" class="transition-all hover:opacity-75 block w-10 sm:w-12 md:w-16 lg:w-auto"><img
                    src="./assets/images/icon_twitter.png" alt=""></a></li>
    </ul>
    <p class="text-center text-18 font-kidgames py-3 bg-gray-320609">COPYRIGHT</p>
</footer>
<script src="./assets/js/script.js"></script>
</body>

</html>