<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta Farm</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./assets/css/font.css">
    <link rel="stylesheet" href="./assets/css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="font-roboto text-14 lg:text-16 text-white pt-65 lg:pt-0">
    <header
        class="bg-gray-7b2537 border-b-2 lg:border-b-4 border-solid border-gray-500f1d lg:relative z-100 h-65px lg:h-auto fixed w-full top-0 left-0">
        <div class="px-3/100 relative py-2 lg:pt-12 xl:pt-16 lg:pb-8 xl:pb-12">
            <div class="hidden lg:flex justify-end">
                <ul class="flex gap-8 xl:gap-12">
                    <li><a href="./"
                            class="block text-18 font-kidgames transition-all hover:text-gray-ffde00">REGISTER</a>
                    </li>
                    <li><a href="./"
                            class="block text-18 font-kidgames transition-all hover:text-gray-ffde00">CONTACT</a>
                    </li>
                </ul>
            </div>
            <div class="flex justify-between items-center">
                <p class="lg:absolute top-6 left-1/2 transition-all transform lg:-translate-x-1/2 w-fit">
                    <a href="./"><img src="./assets/images/logo.png" alt="" class="w-20 lg:w-52 xl:w-auto"></a>
                </p>
                <div class="toggle-menu lg:hidden">
                    <p class="flex flex-col justify-center items-center cursor-pointer">
                        <span class="inline-block w-full bg-white"></span>
                        <span class="inline-block w-full bg-white my-2"></span>
                        <span class="inline-block w-full bg-white"></span>
                    </p>
                </div>
            </div>
        </div>
    </header>
    <div class="menu-slide bg-gray-500f1d">
        <ul class="flex flex-col justify-center text-right gap-6">
            <li><a href="./" class="transition-all hover:text-gray-ffde00 font-kidgames">REGISTER</a></li>
            <li><a href="./" class="transition-all hover:text-gray-ffde00 font-kidgames">CONTACT</a></li>
        </ul>
    </div>